In [5]:
import numpy as np
import os
import pandas as pd
from sqlalchemy import create_engine

In [6]:
# read player_info csv to df
brains_df = pd.read_csv('dataset.csv')
brains_df.rename(columns = {
    'Gender' : 'gender',
    'Age Range' : 'age',
    'Head Size(cm^3)' : 'size',
    'Brain Weight(grams)' : 'weight'
}, inplace = True)
brains_df.head(5)

   gender  age  size  weight
0       1    1  4512    1530
1       1    1  3738    1297
2       1    1  4261    1335
3       1    1  3777    1282
4       1    1  4177    1590

In [7]:
brains_df['gender'] = brains_df['gender'].astype(str)
brains_df['age'] = brains_df['age'].astype(str)

In [8]:
brains_df['gender'].replace({'1' : 'male', '2' : 'female'}, inplace = True)
brains_df['age'].replace({'1' : 'adult', '2' : 'child'}, inplace = True)
brains_df.head(5)

  gender    age  size  weight
0   male  adult  4512    1530
1   male  adult  3738    1297
2   male  adult  4261    1335
3   male  adult  3777    1282
4   male  adult  4177    1590

In [9]:
engine = create_engine('sqlite:///brains.sqlite', echo=True)
sqlite_connection = engine.connect()

2021-07-19 19:33:52,067 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-07-19 19:33:52,069 INFO sqlalchemy.engine.base.Engine ()
2021-07-19 19:33:52,070 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-07-19 19:33:52,071 INFO sqlalchemy.engine.base.Engine ()

In [10]:
sqlite_table = "brain_weights"
brains_df.to_sql(sqlite_table, sqlite_connection, if_exists='replace')

2021-07-19 19:34:37,829 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("brain_weights")
2021-07-19 19:34:37,830 INFO sqlalchemy.engine.base.Engine ()
2021-07-19 19:34:37,832 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("brain_weights")
2021-07-19 19:34:37,833 INFO sqlalchemy.engine.base.Engine ()
2021-07-19 19:34:37,836 INFO sqlalchemy.engine.base.Engine
CREATE TABLE brain_weights (
	"index" BIGINT,
	gender TEXT,
	age TEXT,
	size BIGINT,
	weight BIGINT
)


2021-07-19 19:34:37,836 INFO sqlalchemy.engine.base.Engine ()
2021-07-19 19:34:37,847 INFO sqlalchemy.engine.base.Engine COMMIT
2021-07-19 19:34:37,848 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_brain_weights_index ON brain_weights ("index")
2021-07-19 19:34:37,850 INFO sqlalchemy.engine.base.Engine ()
2021-07-19 19:34:37,859 INFO sqlalchemy.engine.base.Engine COMMIT
2021-07-19 19:34:37,862 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-07-19 19:34:37,865 INFO sqlalchemy.engine.base.Engine INSERT INTO brain_weights ("index", gender, age, size, weight) VALUES (?, ?, ?, ?, ?)
2021-07-19 19:34:37,866 INFO sqlalchemy.engine.base.Engine ((0, 'male', 'adult', 4512, 1530), (1, 'male', 'adult', 3738, 1297), (2, 'male', 'adult', 4261, 1335), (3, 'male', 'adult', 3777, 1282), (4, 'male', 'adult', 4177, 1590), (5, 'male', 'adult', 3585, 1300), (6, 'male', 'adult', 3785, 1400), (7, 'male', 'adult', 3559, 1255)  ... displaying 10 of 237 total bound parameter sets ...  (235, 'female', 'child', 3352, 1170), (236, 'female', 'child', 3391, 1120))
2021-07-19 19:34:37,869 INFO sqlalchemy.engine.base.Engine COMMIT

In [11]:
sqlite_connection.close()